$blue-1: white;
$blue-2: #f4f4f4;
$box-shadow: 0 0 2px rgba(0,0,0,.1);
$border-color: #90e0ef;
$hover_color: hsl(204, 100%, 50%);

$font-Monospace: 'Roboto Mono', monospace;
$font-Lato: 'Lato', sans-serif;
